<div class="user-details">
  <h1>Sobre mí</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Diseño de identidad</h2>
    <p>Identidad corporativa (logotipo, isotipo, aplicaciones básicas, manual de normas</p>
  </div>
  <div class="tech">
    <h2>Diseño de packaging</h2>
    <p>Diseño de etiquetas de vino (etiqueta, contraetiqueta, cápsula), envases de alta complejidad y packaging secundario</p>
  </div>
  <div class="tech">
    <h2>Diseño de Señaletica</h2>
    <p>Diseño de Sistemas señaleticos y su soporte + manual de uso</p>
  </div>
  <div class="tech">
    <h2>Marketing online</h2>
    <p>Social media plan (trazado de estrategia de marketing y comunicación en redes)</p>
  </div>


</div>
